<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.user', username = review.author.username) }}">
                <img class="mini-rounded" src="{{ review.author.avatar(70) }}" />
            </a>
        </td>
        <td>
            {% set user_link %}
                <span class="user_popup">
                    <a href="{{ url_for('main.user', username = review.author.username) }}">
                        {{ review.author.username }}
                    </a>
                </span>
            {% endset %}
            _FILM_ ({{ moment(review.timestamp).fromNow() }}): 5 stars
            <br>
            {{ review.body }}
        </td>
    </tr>
</table>
